header{
    text-align: center;
    padding-top: $spacing * 2;
    margin-bottom: $spacing;

    .menu-header{
        margin-top: $spacing * 2 ;

        ul{
            @include flex-center;

            li{
                padding: 0 $spacing;

                a{
                    padding: $spacing;
                    font-weight: bold;
                    font-size: $fontSize;

                    &:hover, &.active {
                        background-color: #B3E5FC;
                    }
                }
            }
        }
    }

}
